.login-page {
    width: 250px;
    height: 250px;
    border: 2px solid black;
    padding: 50px;
    margin: 150px auto;
    border-radius: 15px;
    box-shadow: 2px 5px 10px black;
    background-color: rgb(183, 233, 253);
}
.login-page h2{
    margin-left: 49px;
    font-size: 0.3in;
}
.login-page input{
    padding: 5px;
    width: 90%;
    height: 20px;
    border: 1px solid transparent;
    border-radius: 8px;
    margin-top: 15px;
}
.login-page button {
    width: 97%;
    height: 30px;
    border-radius: 8px;
    margin-top: 20px;
    border: transparent;
    background-color: blue;
    color: white;
}
span{
    color: red;
}